<div class="myc">

<div class="container" style="margin-top: 120px;">
  <form>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input type="password" class="form-control" id="password">
    </div>
    <input type="button"(click)="signIn()" class="btn btn-primary" value="Auth Login">
  </form> 
</div>
</div>